.maMobile {
    width: 100%;
    height: 100%;
}

.maMobile .homeBanner {
    position: relative;
    width: 100%;
    height: 5.173333rem;
    margin-bottom: 1.226666rem;
    display: flex;
    justify-content: flex-start;
}

.homeBanner .leftLogoBox {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.586666rem 0 0 0.4rem;
}

.homeBanner .leftLogoBox img {
    width: 1.36rem;
    margin-bottom: 0.426666rem;
}

.homeBanner .leftLogoBox .pinpai {
    font-size: 0.266666rem;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 0.6933333rem;
}

.homeBanner .leftLogoBox .yuyue {
    font-size: 0.45555rem;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0.255555rem;
}

.homeBanner .leftLogoBox .lianxiren {
    font-size: 0.333333rem;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 0.4266666rem;
}

.homeBanner .leftLogoBox .contact {
    width: 120px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.homeBanner .leftLogoBox .contact > .wechat {
    margin-right: 0.8rem;
}

.homeBanner .leftLogoBox .contact > .wechat {
    width: 25px;
}

.homeBanner .leftLogoBox .contact > .qq {
    width: 15px;
}

.homeBanner .leftLogoBox .contact > .wechat img,
.homeBanner .leftLogoBox .contact > .qq img {
    width: 100%;
    height: auto;
}

.homeBanner .rightBannerBox {
    width: 62%;
    height: 100%;
    overflow: hidden;
}

.homeBanner .pageBox {
    position: absolute;
    left: 1.9rem;
    bottom: -0.5rem;
    width: 3.52rem;
    height: 1.06666rem;
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    align-items: center;
}

.homeBanner .pageBox:after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(250, 152, 1, 1);
}

.homeBanner .pageBox > ul {
    display: flex;
    justify-content: flex-start;
    font: 0.26666rem '微软雅黑';
    color: rgba(102, 102, 102, 1);
    margin-left: 22px;
}

.homeBanner .pageBox > ul > li {
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
}

.homeBanner .pageBox > ul > li:last-child {
    margin-right: 0;
}

.homeBanner .pageBox > ul > li.bannerPageActive {
    font-size: 0.4rem;
    font-weight: 700;
    color: #000000;
}

.mobileMain {
    width: 100%;
    height: max-content;
    padding: 0 0.4rem;
    margin-bottom: 0.533333rem;
}

.mobileMain > .caseTitle {
    font-size: 19px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(120, 120, 120, 1);
    text-align: left;
    margin-bottom: 18px;
}

.mobileMain > .caseBox {
    position: relative;
    width: 100%;
    height: max-content;
}

.mobileMain > .caseBox > .moduleImg,
.mobileMain > .caseBox > .moduleVideo {
    position: absolute;
    float: left;
    width: 47%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #eeeeee;
    /*margin-bottom: 0.48rem;*/
}

.mobileMain > .caseBox > .moduleImg > a,
.mobileMain > .caseBox > .moduleVideo > a {
    display: inline-block;
    width: 100%;
    height: max-content;
}

/*.mobileMain > .caseBox > .moduleImg:nth-of-type(odd),*/
/*.mobileMain > .caseBox > .moduleVideo:nth-of-type(odd) {*/
/*    margin-right: 6%;*/
/*}*/

.mobileMain > .caseBox > .moduleImg {
    height: max-content;
}

.mobileMain > .caseBox > .moduleVideo {
    height: 4.266666rem;
}

.mobileMain > .caseBox > .moduleVideo video {
    height: 100%;
}

.mobileMain > .caseBox > .moduleImg .introduce,
.mobileMain > .caseBox > .moduleVideo .introduce {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 6px;
    background-color: white;
    color: rgba(140, 140, 140, 1);
}

.mobileMain > .caseBox > .moduleImg .introduce:after,
.mobileMain > .caseBox > .moduleVideo .introduce:after {
    content: '';
    width: 7px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(59, 59, 59, 1);
}

.mobileMain > .caseBox > .moduleVideo .player {
    position: absolute;
}

.mobileMain > .caseBox > .moduleVideo .player > img {
    width: 39px;
    height: 39px;
}

.mobileMain > .moreTitle {
    position: relative;
    margin: 1.06666rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.mobileMain > .moreTitle:before {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #000000;
}

.mobileMain > .moreTitle > span {
    width: 3px;
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 15px;
}

.mobileMain > .newsTitle {
    text-align: left;
    margin-bottom: 18px;
    font-size: 20px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    display: flex;
    align-items: center;
}

.mobileMain > .newsTitle:before {
    content: '';
    width: 12px;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    margin-right: 5px;
}

.mobileMain > .newsModule {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.mobileMain > .newsModule > li {
    width: 100%;
    height: 2.346666rem;
    margin-bottom: 1.226666rem;
}

.mobileMain > .newsModule > li:last-child {
    margin-bottom: 0;
}

.mobileMain > .newsModule > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.mobileMain > .newsModule > li .imgBox {
    width: 3.52rem;
    height: 100%;
    background-color: black;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mobileMain > .newsModule > li .imgBox > img {
    width: auto;
    height: 100%;
}

.mobileMain > .newsModule > li .textBox {
    width: 5.373333rem;
    height: 100%;
    padding: 0.2133333rem 0.24rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.mobileMain > .newsModule > li .textBox > .time {
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(140, 140, 140, 1);
    margin-bottom: 0.286666rem;
}

.mobileMain > .newsModule > li .textBox > .title {
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 0.24rem;
}

.mobileMain > .newsModule > li .textBox > .content {
    display: inline-block;
    width: 100%;
    white-space: normal;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: rgba(140, 140, 140, 1);
    line-height: 13px;
}

.mobileFooter{
    width: 100%;
    height: 6.733333rem;
    padding: 0.93333rem 0.8rem;
    background-color: rgba(232,232,232,1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mobileFooter .contact {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobileFooter .contact .wechat {
    width: .66666rem;
    margin-right: 0.8rem;
}

.mobileFooter .contact .qq {
    width: .53333rem;
    margin-right: 0.8rem;
}

.mobileFooter .contact .wechat img,
.mobileFooter .contact .qq img {
    width: 100%;
    height: auto;
}
